# Activation du module de réécriture d'URL :
RewriteEngine on
# RewriteBase "/.../"

#--------------------------------------------------
# ROUTES
#--------------------------------------------------

# ROUTE LISTE DES RECETTES
# PATTERN: /RECIPES
# TARGET: ?recipes=index
RewriteRule ^recipes/?$ index.php?recipes=index [L]

# ROUTE LISTE DES RECETTES PAR CATEGORIE
# PATTERN: /CATEGORIES/{id}/{slug}
# TARGET: ?categories=show&id=x
RewriteRule ^categories\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)*[a-z0-9]$ index.php?categories=show&id=$1 [L]

# ROUTE LISTE DES RECETTES PAR INGREDIENT
# PATTERN: /INGREDIENTS/{id}/{slug}
# TARGET: ?ingredients=show&id=x
RewriteRule ^ingredients\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)*[a-z0-9]$ index.php?ingredients=show&id=$1 [L]

# ROUTE LISTE DES CHEFS/USERS
# PATTERN: /CHEFS
# TARGET: ?chefs=index
RewriteRule ^chefs/?$ index.php?chefs=index [L]

# -------------------------------------------------
# API ENDPOINTS
# -------------------------------------------------


# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
