# Activation du module de réécriture d'URL :
RewriteEngine on
# RewriteBase "/.../"

#--------------------------------------------------
# ROUTES
#--------------------------------------------------

# ROUTE LISTE DES RECETTES
# PATTERN: /RECIPES
# TARGET: ?recipes=index
RewriteRule ^recipes/?$ index.php?recipes=index [L]

# -------------------------------------------------
# API ENDPOINTS
# -------------------------------------------------


# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
