# Activation du module de réécriture d'URL :
RewriteEngine on
# RewriteBase "/.../";

# --------------------------------------------------
# BACKOFFICE ROUTES
# --------------------------------------------------

# ROUTE LOGOUT
# PATTERN: /USERS/LOGOUT
# TARGET: ?users=logout
RewriteRule ^users/logout?$ index.php?users=logout [L]

# ROUTE LISTE DES CATEGORIES
# PATTERN: /CATEGORIES 
# TARGET: ?categories=index
RewriteRule ^categories/?$ index.php?categories=index [L]

# ROUTE LISTE DES COMMENTS
# PATTERN: /COMMENTS 
# TARGET: ?comments=index
RewriteRule ^comments/?$ index.php?comments=index [L]

# ROUTE LISTE DES INGREDIENTS
# PATTERN: /INGREDIENTS
# TARGET: ?ingredients=index
RewriteRule ^ingredients/?$ index.php?ingredients=index [L]

# ROUTE LISTE DES RECETTES
# PATTERN: /RECIPES
# TARGET: ?recipes=index
RewriteRule ^recipes/?$ index.php?recipes=index [L]

# ROUTE CREATION D'UNE RECETTE DANS LE BACKOFFICE
# PATTERN: /recipes/create
# TARGET: ?recipes=create
RewriteRule ^backoffice/recipes/create/?$ index.php?recipes=Create [L]

# ROUTE MODIFICATION D'UNE RECETTE DANS LE BACKOFFICE
# PATTERN: recipes/edit/{id}
# TARGET: ?recipes=edit&id=x
RewriteRule ^recipes/edit/([1-9][0-9]*)/?$ index.php?recipes=edit&id=$1 [L]

# ROUTE SUPPRESSION D'UNE RECETTE DANS LE BACKOFFICE
# PATTERN: recipes/delete/{id}
# TARGET: recipes=delete&id=x
RewriteRule ^recipes/delete/([1-9][0-9]*)/?$ index.php?recipes=delete&id=$1 [L]

# ... (Add similar rules for other CRUD operations)

RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
